<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 定义开发的profile -->
    <!--<beans profile="development">-->
    <beans>
        <!-- 只扫描开发环境下使用的类 -->
        <context:component-scan base-package="com.thanos" />
        <!-- 加载开发使用的配置文件 -->
        <util:properties id="config" location="classpath:application.properties"/>


        <!-- 配置dbcp数据源 -->
        <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
            <property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
            <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/HiClub?useUnicode=true&amp;cmpcharacterEncoding=utf8&amp;useSSL=false"/>
            <property name="user" value="cloud_admin"/>
            <property name="password" value="IaaS@OS-CLOUD8!"/>
            <property name="initialPoolSize" value="5" />
            <property name="minPoolSize" value="5" />
            <property name="maxPoolSize" value="10" />
            <property name="maxIdleTime" value="100" />
        </bean>

        <bean id="transactionManager"
              class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource" />
        </bean>

        <tx:annotation-driven transaction-manager="transactionManager" />

        <!-- 配置mybatisSqlSessionFactoryBean -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
            <property name="dataSource" ref="dataSource" />
            <!-- mybatis配置文件路径 -->
            <property name="configLocation" value="classpath:mybatis-config.xml" />
            <!-- 实体类映射文件路径,这里只有一个就写死了，多个可以使用mybatis/*.xml来替代 -->
            <!--<property name="mapperLocations" value="classpath:mapper/AccountMapper.xml" />-->
            <!-- 实体类映射文件路径,这里只有一个就写死了，多个可以使用mybatis/*.xml来替代 -->
        </bean>

        <!-- 配置SqlSessionTemplate -->
        <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
            <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
        </bean>

        <!-- 配置mybatis mapper接口 -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="basePackage" value="com.thanos.dbgate.mapper"/>
            <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
        </bean>

        <bean id="dbgateController" class="com.thanos.dbgate.DBGateController">
        </bean>


    <!--</beans>-->
    </beans>

</beans>

